In [1]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, log_loss
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("train.csv", parse_dates=['Dates'])
# 연,월,주차,시간(1시간단위)
df['year'] = df['Dates'].map(lambda x: x.year)
df['month'] = df['Dates'].map(lambda x: x.month)
df['week'] = df['Dates'].map(lambda x: x.week)
df['hour'] = df['Dates'].map(lambda x: x.hour)
df.tail()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,year,month,week,hour
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056,2003,1,2,0
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948,2003,1,2,0
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266,2003,1,2,0
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607,2003,1,2,0
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212,2003,1,2,0

In [3]:
train = df.copy()

In [4]:
train.drop(columns=['Dates','Descript','Resolution','Address'],inplace=True)

In [5]:
train.tail()

,Category,DayOfWeek,PdDistrict,X,Y,year,month,week,hour
878044,ROBBERY,Monday,TARAVAL,-122.459033,37.714056,2003,1,2,0
878045,LARCENY/THEFT,Monday,INGLESIDE,-122.447364,37.731948,2003,1,2,0
878046,LARCENY/THEFT,Monday,SOUTHERN,-122.403390,37.780266,2003,1,2,0
878047,VANDALISM,Monday,SOUTHERN,-122.390531,37.780607,2003,1,2,0
878048,FORGERY/COUNTERFEITING,Monday,BAYVIEW,-122.394926,37.738212,2003,1,2,0

In [6]:
le = LabelEncoder().fit(train.Category)

In [7]:
train.Category = le.transform(train.Category)
train.tail()

,Category,DayOfWeek,PdDistrict,X,Y,year,month,week,hour
878044,25,Monday,TARAVAL,-122.459033,37.714056,2003,1,2,0
878045,16,Monday,INGLESIDE,-122.447364,37.731948,2003,1,2,0
878046,16,Monday,SOUTHERN,-122.403390,37.780266,2003,1,2,0
878047,35,Monday,SOUTHERN,-122.390531,37.780607,2003,1,2,0
878048,12,Monday,BAYVIEW,-122.394926,37.738212,2003,1,2,0

In [18]:
x_DayOfWeek = pd.get_dummies(train.DayOfWeek)
x_PdDistrict = pd.get_dummies(train.PdDistrict)
x_X = pd.DataFrame(train.X, columns=['lon'])
x_Y = pd.DataFrame(train.Y, columns=['lat'])
x_month = pd.get_dummies(train.month, prefix="", prefix_sep='month_')
x_hour = pd.get_dummies(train.hour, prefix="", prefix_sep='hour_')

In [19]:
x = pd.concat([x_DayOfWeek, x_PdDistrict, x_month, x_hour], axis=1)
y = pd.DataFrame(train.Category, columns=['Category'])

## BernNB

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [44]:
model_bern = OneVsRestClassifier(BernoulliNB()).fit(x,y)

In [16]:
accuracy_score(y_train, model_bern.predict(x_train))

0.22401812505314819

In [17]:
accuracy_score(y_test, model_bern.predict(x_test))

0.22426917767968185

## Logistic Regression

In [45]:
model_logi = OneVsRestClassifier(LogisticRegression()).fit(x,y)

In [40]:
print(classification_report(y_train,model_logi.predict(x_train)))

             precision    recall  f1-score   support

          0       0.00      0.00      0.00      1131
          1       0.17      0.03      0.05     57653
          2       0.00      0.00      0.00       290
          3       0.00      0.00      0.00       209
          4       0.09      0.00      0.00     27565
          5       0.00      0.00      0.00      3244
          6       0.00      0.00      0.00      1711
          7       0.24      0.30      0.26     40518
          8       0.00      0.00      0.00      3194
          9       0.00      0.00      0.00       875
         10       0.00      0.00      0.00       194
         11       0.00      0.00      0.00       364
         12       0.00      0.00      0.00      7994
         13       0.00      0.00      0.00     12546
         14       0.00      0.00      0.00       110
         15       0.00      0.00      0.00      1767
         16       0.24      0.77      0.37    131026
         17       0.00      0.00      0.00      1416
         18       0.00      0.00      0.00       918
         19       0.30      0.00      0.00     19408
         20       0.16      0.00      0.01     69371
         21       0.18      0.34      0.23     94662
         22       0.00      0.00      0.00        16
         23       0.15      0.00      0.00      5598
         24       0.00      0.00      0.00      2350
         25       0.00      0.00      0.00     17173
         26       0.00      0.00      0.00      1470
         27       0.00      0.00      0.00      7456
         28       0.00      0.00      0.00      3271
         29       0.00      0.00      0.00       110
         30       0.00      0.00      0.00      3427
         31       0.00      0.00      0.00       373
         32       0.00      0.00      0.00     23577
         33       0.00      0.00      0.00         5
         34       0.00      0.00      0.00      5409
         35       0.05      0.00      0.00     33456
         36       0.19      0.02      0.04     40511
         37       0.00      0.00      0.00     31726
         38       0.00      0.00      0.00      6442

avg / total       0.15      0.22      0.13    658536

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
accuracy_scoreracy_scormodel_logii model_logi.predict(x_test))

In [41]:
log_loss(y_train, model_bern.predict_proba(x_train))

2.5782026660348896

In [1]:
log_loss(y_train, model_logi.predict_proba(x_train))

NameError: name 'log_loss' is not defined

In [43]:
log_loss(y_test, model.predict_proba(x_test))

2.5798294154021679

In [44]:
log_loss(y_test, model_logi.predict_proba(x_test))

2.5778464730024089

In [45]:
sub = pd.read_csv("sampleSubmission.csv")
sub.tail()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,884257,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884258,884258,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884259,884259,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884260,884260,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884261,884261,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
df_test = pd.read_csv("test.csv", parse_dates=['Dates'])
test = df_test.copy()
test['month'] = test['Dates'].map(lambda x : x.month)
test['hour'] = test['Dates'].map(lambda x : x.hour)
test.tail()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y,month,hour
884257,884257,2003-01-01 00:01:00,Wednesday,MISSION,2600 Block of BRYANT ST,-122.408983,37.751987,1,0
884258,884258,2003-01-01 00:01:00,Wednesday,NORTHERN,1900 Block of WASHINGTON ST,-122.425342,37.792681,1,0
884259,884259,2003-01-01 00:01:00,Wednesday,INGLESIDE,5500 Block of MISSION ST,-122.445418,37.712075,1,0
884260,884260,2003-01-01 00:01:00,Wednesday,BAYVIEW,1500 Block of HUDSON AV,-122.387394,37.739479,1,0
884261,884261,2003-01-01 00:01:00,Wednesday,TARAVAL,1500 Block of SLOAT BL,-122.489714,37.733950,1,0

In [12]:
test.drop(columns=['Address','X','Y'], inplace=True)
test_DayOfWeek = pd.get_dummies(test.DayOfWeek)
test_PdDistrict = pd.get_dummies(test.PdDistrict)
test_month = pd.get_dummies(test.month, prefix="", prefix_sep='month_')
test_hour = pd.get_dummies(test.hour, prefix="", prefix_sep='hour_')
x_test = pd.concat([test_DayOfWeek, test_PdDistrict, test_month, test_hour], axis=1)
x_test.tail()

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,BAYVIEW,CENTRAL,INGLESIDE,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
884257,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
884258,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
884259,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
884260,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
884261,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
len(x.columns)

53

In [14]:
len(x_test.columns)

53

In [71]:
y_predict = model_bern.predict_proba(x_test)

In [44]:
ids = test.Id[:,np.newaxis]
ids_df = pd.DataFrame(ids, columns=['Id'])
ids_df.tail()

            Id
884257  884257
884258  884258
884259  884259
884260  884260
884261  884261

In [74]:
predict_bern = pd.DataFrame(y_predict, columns=le.classes_)
predict_bern.tail()

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,0.001483,0.085365,0.001509,0.000607,0.019911,0.011493,0.004795,0.053340,0.008722,0.004025,...,0.001209,0.004965,0.000302,0.038764,5.549278e-08,0.004792,0.040321,0.034872,0.050411,0.008980
884258,0.001902,0.075969,0.002246,0.000177,0.041718,0.004915,0.004143,0.030983,0.004581,0.005323,...,0.000341,0.006977,0.000346,0.040653,6.907457e-08,0.004388,0.051383,0.037516,0.041273,0.006174
884259,0.003229,0.106237,0.001724,0.000782,0.029698,0.002364,0.004346,0.021141,0.003082,0.004120,...,0.001172,0.004309,0.000454,0.053105,4.021356e-08,0.003012,0.069308,0.078437,0.029185,0.012570
884260,0.007243,0.109893,0.001615,0.000735,0.031352,0.002687,0.003278,0.036949,0.003503,0.004720,...,0.001030,0.004381,0.000216,0.058973,2.472424e-07,0.004178,0.060671,0.052840,0.045951,0.017290
884261,0.002493,0.079524,0.002386,0.000277,0.037994,0.002731,0.005196,0.016369,0.005212,0.006134,...,0.000944,0.003416,0.000498,0.060874,4.913334e-08,0.003402,0.075727,0.061419,0.022285,0.007164

In [76]:
result = pd.concat([ids_df, predict_bern], axis=1)
result.tail()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,884257,0.001483,0.085365,0.001509,0.000607,0.019911,0.011493,0.004795,0.053340,0.008722,...,0.001209,0.004965,0.000302,0.038764,5.549278e-08,0.004792,0.040321,0.034872,0.050411,0.008980
884258,884258,0.001902,0.075969,0.002246,0.000177,0.041718,0.004915,0.004143,0.030983,0.004581,...,0.000341,0.006977,0.000346,0.040653,6.907457e-08,0.004388,0.051383,0.037516,0.041273,0.006174
884259,884259,0.003229,0.106237,0.001724,0.000782,0.029698,0.002364,0.004346,0.021141,0.003082,...,0.001172,0.004309,0.000454,0.053105,4.021356e-08,0.003012,0.069308,0.078437,0.029185,0.012570
884260,884260,0.007243,0.109893,0.001615,0.000735,0.031352,0.002687,0.003278,0.036949,0.003503,...,0.001030,0.004381,0.000216,0.058973,2.472424e-07,0.004178,0.060671,0.052840,0.045951,0.017290
884261,884261,0.002493,0.079524,0.002386,0.000277,0.037994,0.002731,0.005196,0.016369,0.005212,...,0.000944,0.003416,0.000498,0.060874,4.913334e-08,0.003402,0.075727,0.061419,0.022285,0.007164

In [77]:
result.to_csv("./result_bernoulliNB.csv",index=False)

In [78]:
y_predict2 = model_logi.predict_proba(x_test)

In [79]:
predict_logi = pd.DataFrame(y_predict2, columns=le.classes_)

In [80]:
result_logi = pd.concat([ids_df, predict_logi], axis=1)
result_logi.tail()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,884257,0.001624,0.086883,0.001522,0.000578,0.021531,0.010390,0.004823,0.058254,0.008569,...,0.001052,0.005150,0.000326,0.039772,0.000006,0.005056,0.042094,0.036138,0.051882,0.009234
884258,884258,0.001954,0.076952,0.002134,0.000198,0.040200,0.005109,0.004171,0.035653,0.004802,...,0.000367,0.006789,0.000360,0.040733,0.000007,0.004611,0.050844,0.037685,0.043091,0.006521
884259,884259,0.003388,0.107214,0.001611,0.000739,0.030261,0.002620,0.004870,0.024488,0.003474,...,0.001043,0.004510,0.000464,0.052000,0.000006,0.003243,0.068998,0.073643,0.031354,0.012581
884260,884260,0.006641,0.110702,0.001536,0.000697,0.031464,0.002926,0.004016,0.040978,0.004052,...,0.000937,0.004577,0.000237,0.056795,0.000015,0.004308,0.061963,0.052165,0.047271,0.016408
884261,884261,0.002758,0.082662,0.002125,0.000298,0.037957,0.003010,0.005955,0.018854,0.005776,...,0.000862,0.003615,0.000503,0.058711,0.000006,0.003612,0.076128,0.060671,0.024057,0.007610

In [81]:
result_logi.to_csv("result_LogisticRegression.csv", index=False)

##### Logistic Regression Model이 좀 더 좋게 나옴.(2.58123 --> 1066/2335등)

### Block 추가

In [21]:
x["Block_YN"] = np.array([1 if 'Block' in i else 0 for i in df.Address.values])
x.tail()

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,BAYVIEW,CENTRAL,INGLESIDE,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,Block_YN
878044,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
878045,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
878046,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
878047,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
878048,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

## test.csv 데이터 변형

In [15]:
test2 = df_test.copy()
test2["Block_YN"] = np.array([1 if 'Block' in i else 0 for i in test2.Address.values])
test_block = pd.DataFrame(test2.Block_YN, columns=["Block_YN"])
x_test2 = pd.concat([x_test, test_block], axis=1)
x_test2.tail()

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,BAYVIEW,CENTRAL,INGLESIDE,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,Block_YN
884257,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
884258,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
884259,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
884260,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
884261,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Random Forest

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [24]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

In [25]:
model_ranfo1 = RandomForestClassifier(n_estimators=10, criterion='entropy', max_depth=30).fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [28]:
log_loss(y_train, model_ranfo1.predict_proba(x_train))

2.207578497396522

In [29]:
log_loss(y_test, model_ranfo1.predict_proba(x_test))

2.2071607066310572

In [33]:
model_ranfo2 = RandomForestClassifier(n_estimators=10, criterion='entropy', max_depth=40).fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [34]:
log_loss(y_train, model_ranfo2.predict_proba(x_train))

2.1148268327255284

In [35]:
log_loss(y_test, model_ranfo2.predict_proba(x_test))

2.1155055849503963

In [36]:
model_ranfo3 = RandomForestClassifier(n_estimators=20, criterion='entropy', max_depth=30).fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [37]:
log_loss(y_train, model_ranfo3.predict_proba(x_train))

2.1955261110631965

In [38]:
log_loss(y_test, model_ranfo3.predict_proba(x_test))

2.1959223620834174

In [39]:
model_ranfo4 = RandomForestClassifier(n_estimators=20, criterion='entropy', max_depth=40).fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [40]:
log_loss(y_train, model_ranfo4.predict_proba(x_train))

2.1047947359190871

In [41]:
log_loss(y_test, model_ranfo4.predict_proba(x_test))

2.1050356461698598

In [47]:
model_ranfo5 = RandomForestClassifier(n_estimators=20, criterion='entropy', max_depth=20).fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [49]:
log_loss(y_train, model_ranfo5.predict_proba(x_train))

2.3735427533377327

In [52]:
log_loss(y_test, model_ranfo5.predict_proba(x_test))

2.3744976891965943

In [51]:
model_ranfo6 = RandomForestClassifier(n_estimators=30, criterion='entropy', max_depth=20).fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [53]:
log_loss(y_test, model_ranfo6.predict_proba(x_test))

2.5381711886316771

In [54]:
model_ranfo7 = RandomForestClassifier(n_estimators=30, criterion='entropy', max_depth=30).fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [55]:
log_loss(y_test, model_ranfo7.predict_proba(x_test))

2.7181337471132703

In [56]:
model_ranfo8 = RandomForestClassifier(n_estimators=30, criterion='entropy', max_depth=30).fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [57]:
log_loss(y_train, model_ranfo8.predict_proba(x_train))

2.192080733718778

In [58]:
log_loss(y_test, model_ranfo8.predict_proba(x_test))

2.192569833949495

In [42]:
predict_ranfo4 = model_ranfo4.predict_proba(x_test2)
predict_ranfo4_df = pd.DataFrame(predict_ranfo4, columns=le.classes_)
predict_ranfo4_df.tail()

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,0.0,0.097430,0.000000,0.0,0.047757,0.054845,0.0,0.113892,0.0,0.000000,...,0.0,0.028678,0.0,0.070820,0.0,0.022615,0.056780,0.019266,0.027330,0.000000
884258,0.0,0.026296,0.039285,0.0,0.066233,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.029798,0.0,0.065586,0.065434,0.000000,0.000000,0.000000
884259,0.0,0.127044,0.000000,0.0,0.078209,0.000000,0.0,0.130080,0.0,0.000000,...,0.0,0.000000,0.0,0.039735,0.0,0.000000,0.064398,0.073272,0.048615,0.043861
884260,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.045037,...,0.0,0.000000,0.0,0.101410,0.0,0.000000,0.062538,0.108329,0.000000,0.046452
884261,0.0,0.172383,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.109651,0.131912,0.000000,0.000000

In [45]:
result_ranfo4 = pd.concat([ids_df, predict_ranfo4_df], axis=1)
result_ranfo4.tail()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,884257,0.0,0.097430,0.000000,0.0,0.047757,0.054845,0.0,0.113892,0.0,...,0.0,0.028678,0.0,0.070820,0.0,0.022615,0.056780,0.019266,0.027330,0.000000
884258,884258,0.0,0.026296,0.039285,0.0,0.066233,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.029798,0.0,0.065586,0.065434,0.000000,0.000000,0.000000
884259,884259,0.0,0.127044,0.000000,0.0,0.078209,0.000000,0.0,0.130080,0.0,...,0.0,0.000000,0.0,0.039735,0.0,0.000000,0.064398,0.073272,0.048615,0.043861
884260,884260,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.101410,0.0,0.000000,0.062538,0.108329,0.000000,0.046452
884261,884261,0.0,0.172383,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.109651,0.131912,0.000000,0.000000

In [46]:
result_ranfo4.to_csv("./Randomforest_4.csv", index=False)

In [59]:
predict_ranfo8 = model_ranfo8.predict_proba(x_test2)
predict_ranfo8_df = pd.DataFrame(predict_ranfo8, columns=le.classes_)
predict_ranfo8_df.tail()

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,0.000087,0.097411,0.000438,0.000067,0.045805,0.041749,0.000347,0.083200,0.000893,0.000816,...,0.000134,0.019296,0.000050,0.068300,0.0,0.018374,0.050044,0.022770,0.027470,0.001646
884258,0.000214,0.042614,0.029029,0.000000,0.071500,0.000000,0.000214,0.005244,0.000711,0.000000,...,0.000000,0.001356,0.000000,0.035127,0.0,0.062254,0.050762,0.001800,0.001279,0.000165
884259,0.000297,0.161781,0.000079,0.000032,0.070724,0.000112,0.000289,0.110174,0.000072,0.000523,...,0.000016,0.000219,0.000224,0.053722,0.0,0.000356,0.076608,0.063883,0.039561,0.039894
884260,0.001956,0.025633,0.000539,0.000035,0.008097,0.001124,0.000076,0.003514,0.000196,0.028132,...,0.000153,0.001431,0.000127,0.086224,0.0,0.000970,0.056697,0.075747,0.003658,0.046413
884261,0.000152,0.190250,0.000040,0.000007,0.012843,0.000448,0.000114,0.002034,0.000325,0.000832,...,0.000007,0.000418,0.000051,0.009779,0.0,0.000783,0.117337,0.102080,0.003195,0.000628

In [61]:
result_ranfo8 = pd.concat([ids_df, predict_ranfo8_df], axis=1)
result_ranfo8.tail()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
884257,884257,0.000087,0.097411,0.000438,0.000067,0.045805,0.041749,0.000347,0.083200,0.000893,...,0.000134,0.019296,0.000050,0.068300,0.0,0.018374,0.050044,0.022770,0.027470,0.001646
884258,884258,0.000214,0.042614,0.029029,0.000000,0.071500,0.000000,0.000214,0.005244,0.000711,...,0.000000,0.001356,0.000000,0.035127,0.0,0.062254,0.050762,0.001800,0.001279,0.000165
884259,884259,0.000297,0.161781,0.000079,0.000032,0.070724,0.000112,0.000289,0.110174,0.000072,...,0.000016,0.000219,0.000224,0.053722,0.0,0.000356,0.076608,0.063883,0.039561,0.039894
884260,884260,0.001956,0.025633,0.000539,0.000035,0.008097,0.001124,0.000076,0.003514,0.000196,...,0.000153,0.001431,0.000127,0.086224,0.0,0.000970,0.056697,0.075747,0.003658,0.046413
884261,884261,0.000152,0.190250,0.000040,0.000007,0.012843,0.000448,0.000114,0.002034,0.000325,...,0.000007,0.000418,0.000051,0.009779,0.0,0.000783,0.117337,0.102080,0.003195,0.000628

In [62]:
result_ranfo8.to_csv("./Randomforest_8.csv", index=False)