In [1]:
df_train = pd.read_csv("train.csv", parse_dates=['Dates'])
df_train.drop(columns=['Descript','Resolution'],inplace=True)
df_train['year'] = df_train['Dates'].map(lambda x: x.year)
df_train['month'] = df_train['Dates'].map(lambda x: x.month)
df_train['hour'] = df_train['Dates'].map(lambda x: x.hour)

,Dates,Category,DayOfWeek,PdDistrict,Address,X,Y,year,month,hour
878044,2003-01-06 00:15:00,ROBBERY,Monday,TARAVAL,FARALLONES ST / CAPITOL AV,-122.459033,37.714056,2003,1,0
878045,2003-01-06 00:01:00,LARCENY/THEFT,Monday,INGLESIDE,600 Block of EDNA ST,-122.447364,37.731948,2003,1,0
878046,2003-01-06 00:01:00,LARCENY/THEFT,Monday,SOUTHERN,5TH ST / FOLSOM ST,-122.403390,37.780266,2003,1,0
878047,2003-01-06 00:01:00,VANDALISM,Monday,SOUTHERN,TOWNSEND ST / 2ND ST,-122.390531,37.780607,2003,1,0
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,Monday,BAYVIEW,1800 Block of NEWCOMB AV,-122.394926,37.738212,2003,1,0

In [2]:
def street_addr(x):
    street=x.split(' ')
    return (' '.join(street[-2:]))

In [3]:
df_train['addr']=df_train['Address'].apply(lambda x:street_addr(x))
df_train['addr'].tail()

878044    CAPITOL AV
878045       EDNA ST
878046     FOLSOM ST
878047        2ND ST
878048    NEWCOMB AV
Name: addr, dtype: object

In [4]:
df_train['addr'].unique(),len(df_train['addr'].unique())

(array(['LAGUNA ST', 'GREENWICH ST', 'LOMBARD ST', ..., 'LAKES DR',
        'WEBB PL', 'ZENO PL'], dtype=object), 2040)

In [5]:
df_train['event'] = 1

In [6]:
df_train.tail()

,Dates,Category,DayOfWeek,PdDistrict,Address,X,Y,year,month,hour,addr,event
878044,2003-01-06 00:15:00,ROBBERY,Monday,TARAVAL,FARALLONES ST / CAPITOL AV,-122.459033,37.714056,2003,1,0,CAPITOL AV,1
878045,2003-01-06 00:01:00,LARCENY/THEFT,Monday,INGLESIDE,600 Block of EDNA ST,-122.447364,37.731948,2003,1,0,EDNA ST,1
878046,2003-01-06 00:01:00,LARCENY/THEFT,Monday,SOUTHERN,5TH ST / FOLSOM ST,-122.403390,37.780266,2003,1,0,FOLSOM ST,1
878047,2003-01-06 00:01:00,VANDALISM,Monday,SOUTHERN,TOWNSEND ST / 2ND ST,-122.390531,37.780607,2003,1,0,2ND ST,1
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,Monday,BAYVIEW,1800 Block of NEWCOMB AV,-122.394926,37.738212,2003,1,0,NEWCOMB AV,1